@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f1fff5;
}

.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #a5f5cd;
    padding: 10px;
}

.login-box h1 {
    font-size: 40px;
    border-bottom: 6px solid rgb(110, 241, 117);
    float: left;
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbox {
    clear: left;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid rgb(61, 163, 189);
}

.login-box i {
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input {
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    width: 80%;
    float: right;
    margin: 0 10px;
    background: none;
}

.btn {
    width: 100%;
    background: none;
    /* border: 2px solid black; */
    cursor: pointer;
    background: linear-gradient(135deg, #83f150, #7bc597);
    font-size: 18px;
    border: none;
    outline: none;
}

.btn:hover {
    background: linear-gradient(-135deg, #83f150, #7bc597);
}